
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Customized Caps</h3>
<div id="Products-Category" class="Caps">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Caps/Cap-1.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cap</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Caps/Cap-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cap</h5>
        </div>
    </div>

</div>
{% endblock %}