
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Table Clocks</h3>
<div id="Products-Category" class="Clocks-TableClocks">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Clocks/Table Clocks/Clock-1.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Table Clocks</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Clocks/Table Clocks/Clock-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Table Clocks</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Clocks/Table Clocks/Clock-3.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Table Clocks</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Clocks/Table Clocks/Clock-4.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Table Clocks</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Clocks/Table Clocks/Clock-5.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Table Clocks</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Clocks/Table Clocks/Clock-6.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Table Clocks</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Clocks/Table Clocks/Clock-7.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Table Clocks</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Clocks/Table Clocks/Clock-8.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Table Clocks</h5>
        </div>
    </div>

</div>
{% endblock %}