
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Leather Phone Covers</h3>
<div id="Products-Category" class="Leather-Phone-Covers">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Leather-Items/Phone-Covers/Cover-1.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Leather Phone Cover</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Leather-Items/Phone-Covers/Cover-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Leather Phone Cover</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Leather-Items/Phone-Covers/Cover-3.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Leather Phone Cover</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Leather-Items/Phone-Covers/Cover-4.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Leather Phone Cover</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Leather-Items/Phone-Covers/Cover-5.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Leather Phone Cover</h5>
        </div>
    </div>

</div>
{% endblock %}