
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Leather Mouse Pads</h3>
<div id="Products-Category" class="Leather-MousePads">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Leather-Items/Mouse-Pads/Mouse-Pad-1.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Leather Mouse Pad</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Leather-Items/Mouse-Pads/Mouse-Pad-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Leather Mouse Pad</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Leather-Items/Mouse-Pads/Mouse-Pad-3.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Leather Mouse Pad</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Leather-Items/Mouse-Pads/Mouse-Pad-4.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Leather Mouse Pad</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Leather-Items/Mouse-Pads/Mouse-Pad-5.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Leather Mouse Pad</h5>
        </div>
    </div>

</div>
{% endblock %}