
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Torches</h3>
<div id="Products-Category" class="Torches">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Lightning/Torch/Torch-1.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Torches</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Lightning/Torch/Torch-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Torches</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Lightning/Torch/Torch-3.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Torches</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Lightning/Torch/Torch-4.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Torches</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Lightning/Torch/Torch-5.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Torches</h5>
        </div>
    </div>

</div>
{% endblock %}