
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Emergency Lights</h3>
<div id="Products-Category" class="Emergency-Lights">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Lightning/Emergency Lights/EL-1.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Emergency Lights</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Lightning/Emergency Lights/EL-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Emergency Lights</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Lightning/Emergency Lights/EL-3.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Emergency Lights</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Lightning/Emergency Lights/EL-4.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Emergency Lights</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Lightning/Emergency Lights/EL-5.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Emergency Lights</h5>
        </div>
    </div>

</div>
{% endblock %}