
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">MontBlanc</h3>
<div id="Products-Category" class="MontBlanc">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-1.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-10.png')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-11.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-12.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-13.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-14.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-15.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-16.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-17.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-18.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-19.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-2-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-2-3.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-20.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-21.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-22.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-23.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-24.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-25.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-26.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-27.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-28.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-29.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-3.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-30.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-31.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-32.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-33.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-34.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-35.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-36.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-37.png')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-38.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-39.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-4-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-4.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-40.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-41.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-42.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-43.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-44.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-45.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-46.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-47.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-48.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-49.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-5.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-50.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-6.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-7.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-8.png')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/MontBlanc/MontBlanc Pen-9.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Montblanc Pens</h5>
        </div>
    </div>

</div>
    {% endblock %}
    