
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Cross</h3>
<div id="Products-Category" class="Cross">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Cross/Cross Pen-86.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cross Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Cross/Cross Pen-87.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cross Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Cross/Cross Pen-88.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cross Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Cross/Cross Pen-89.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cross Pens</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Cross/Cross Pen-90.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cross Pens</h5>
        </div>
    </div>

</div>
    {% endblock %}
    