
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Infinix Power Banks</h3>
<div id="Products-Category" class="Powerbanks-Infinix">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Power Banks/Infinix/Infinix-Power-Bank-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Infinix Power Banks</h5>
        </div>
    </div>

</div>
{% endblock %}