
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Samsung Power Banks</h3>
<div id="Products-Category" class="Powerbanks-Samsung">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Power Banks/Samsung/Samsung-FastCharge-Power-Bank-10.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Power Banks</h5>
        </div>
    </div>

</div>
{% endblock %}