
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Customized Power Banks</h3>
<div id="Products-Category" class="Powerbanks-Customized">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Power Banks/Customized/Custom-Power-Bank-1.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized Power Banks</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Power Banks/Customized/Customized-Power-Bank-3.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized Power Banks</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Power Banks/Customized/Customized-Power-Bank-4.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized Power Banks</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Power Banks/Customized/Customized-Power-Bank-6.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized Power Banks</h5>
        </div>
    </div>

</div>
{% endblock %}