
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Table Calendars</h3>
<div id="Products-Category" class="Table-Calendars">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Printing Items/Table Calendars/Calendar-1.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Table Calendar</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Printing Items/Table Calendars/Calendar-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Table Calendar</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Printing Items/Table Calendars/Calendar-3.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Table Calendar</h5>
        </div>
    </div>

</div>
{% endblock %}