
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Thermometer</h3>
<div id="Products-Category" class="Thermometer">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Surgical/Thermometer/Thermometer-1.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Thermometer</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Surgical/Thermometer/Thermometer-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Thermometer</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Surgical/Thermometer/Thermometer-3.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Thermometer</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Surgical/Thermometer/Thermometer-4.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Thermometer</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/Surgical/Thermometer/Thermometer-5.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Thermometer</h5>
        </div>
    </div>

</div>
{% endblock %}