
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Customized USB</h3>
<div id="Products-Category" class="Customized">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-11.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-12.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-13.png')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-14.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-15.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-16.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-17.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-18.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-19.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-20.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-21.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-22.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-23.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-24.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Customized/Custom USB-25.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Customized USB</h5>
        </div>
    </div>

</div>
    {% endblock %}
    