
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">Samsung USB</h3>
<div id="Products-Category" class="Samsung">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/USB/Samsung/Samsung [STORAGE] Bar 3.1 USB-10.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung USB</h5>
        </div>
    </div>

</div>
    {% endblock %}
    