
{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3 class="Products-Title">SanDisk USB</h3>
<div id="Products-Category" class="SanDisk">

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/SanDisk/SanDisk 128GB Cruzer Blade 2.0 USB-2.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SanDisk USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/SanDisk/SanDisk 64GB Ultra Trek 3.0 USB-7.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SanDisk USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/SanDisk/SanDisk 64GB Ultra-Fair 3.0 USB-4.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SanDisk USB</h5>
        </div>
    </div>

    <div class="card Product" style="width: 18rem;">
        <img src="{{ url_for('static', filename='imgs/SanDisk/SanDisk_64GB_Ultra_Dual_Drive_3.0_USB-9.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SanDisk USB</h5>
        </div>
    </div>

</div>
{% endblock %}