{% extends "base.html" %}
{% block title %} About Us {% endblock %}
{% block content %}
    <div class="AboutUs_IMG-Parent">
        <img class="AboutUs_IMG" src="{{ url_for('static', filename='Banner/Banner-3.jpg')}}" alt="">
    </div>
    <h2 class="AboutUs-Header">ABOUT US</h2>
    <p class="AboutUs-AboutGB">
        We offer best-quality & affordable personalized promotional items, customized corporate gifts and giveaways for your company promotion. We also provide all kind of printing and signage making service located in Karachi, Pakistan.
    </p>
    <h2 class="AboutUs-Mission-Header">Mission</h2>
    <p class="AboutUs-Mission-TXT">
        Team of Qualified Professionals
        The team of highly skilled and experienced professionals is the asset of our organization. Every member of the team holds rich industry experience and profound knowledge in their respective domains. Our team works in close scrutiny with our customers to understand their specifications and design the products according to their exact requirements.
        All the members of the team work in close coordination with each other to achieve the ultimate goal of complete customer satisfaction. We ensure to conduct thorough training sessions through which they can enhance their skills and remain abreast of the latest advancements in the market. Moreover, their commitment and dexterous efforts has helped to offer the best products to our customers.
        We can offer you a wide variety of custom promotional items at competitive prices. You will find thousands of products available online at Staples Promotional Products, with new products added daily so your brand can keep up with the latest trends. If you’re not sure where to start, consider shopping some of our best-seller categories like promotional pens,logo bags and totes, custom T-shirts, corporate apparel and custom head-wear. We have everything you need to make a statement with your brand.
    </p>
{% endblock%}