{% extends "base.html" %}
{% block title %} ContactUs {% endblock %}
{% block content %}
    <iframe class="IBA-MAP" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3617.6851320378187!2d67.1125361!3d24.9427942!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb338bcd01921f5%3A0x5fd98736c5530784!2sInstitute%20of%20Business%20Administration%2C%20Karachi%2C%20Main%20Campus!5e0!3m2!1sen!2s!4v1601570060506!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <h2 class="ContactUs-Header">CONTACT US</h2>
    <h6 class="ContactUs-Name"><b>Name: </b>  Muhammad Hannan </h6>
    <h6 class="ContactUs-Email"><b>Email: </b>  thegbtraders@gmail.com </h6>
    <h6 class="ContactUs-NO1"><b>Phone Number: </b>  +92 333 206979 </h6>
    <h6 class="ContactUs-NO2"><b>Phone Number: </b> +92 300 6628697 </h6>
    <h6 class="ContactUs-TEL-NO"><b>Tel Number: </b> +92 21 34641953</h6>
    <h6 class="ContactUs-ADDR"><b>Address: </b> IBA CED Main Campus Aman Center Room No.G4</h6>
{% endblock %}