{% extends "base.html" %}
{% block title %} Services {% endblock %}
{% block content %}
    <div class="Our_Services_Banner_Parent">
        <img src="{{ url_for('static', filename='Banner/our-services.jpg')}}" alt="SERVICES" class="Our_Services_Banner">
    </div>
    <p class="Services-Text">
        We have ion-house facility under one roof, which includes high quality Screen Printing, Pad Printing, Embossing, Foil Stamping, Router Engraving Laser Engraving, Designing Offset Printing, Plastic Injection Mould Designing Mould Making (on latest CNC Machine), Assembling, Fabrication for Product display, and Packing.
    </p>

    <p class="Services-Text-2">
        GB WASTE EXPERTS is the precise name in a Waste Management for the Collection, Transportation, Disposal & Recycling of waste. GB Waste Experts is not just another name; it is a team of young & energetic Pakistani’s who have decided to work positively for a Greener Environment by reducing, reusing & recycling of waste (Hazardous & Non-Hazardous) through all possible means of EMS Strategies. Recycling items included  paper, plastic . iron , food waste etc.
    </p>
{% endblock %}